.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
}

.projectimage {
    max-width: 220px;
    height: 140px;
    margin-top: 6px;
}

.projecttitle {
    font-size: 20px;
    margin: 0;
    padding-left: 4px;
}

.projectp {
    font-size: 14px;
    padding-left: 4px;
}