h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.skills-container {
    margin-top: 90px;
    padding-bottom: 20px;
}


.skills-grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr ;
    text-align: center;
}